.header {
    width: 100%;
    position: fixed;
    z-index: 1;  
}
.header_row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-flow: row nowrap;
    padding: 10px 0;
}
.header__col-logo {
    text-decoration: none;
    color: $text_color;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    min-width: 100px;
    width: 10%;
    .theme {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: orange;
        position: absolute;
        margin-top: 22px;
        margin-left: 5px;
    }
}
.header__col-nav {
    width: 90%;
    display: flex;
    position: relative;
}
.header-nav__content {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    box-sizing: border-box;
}
.header-nav__item {
    list-style: none;
}
.header-nav__item-theme {
    position: relative;
    width: 100px;
    height: 30px;
    display: block;
    color: $text_color;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    transition: .5s;
    box-sizing: border-box;
    span {
        position: absolute;
        width: 25%;
        height: 100%;
        // background: linear-gradient(to bottom, #FF6F00, #FFC107);
        background: linear-gradient(to bottom, #fa8925, #f6d51f);
        z-index: -1;
        transform-origin: top;
        transform: scaleY(0);
        transition: transform .5s;
        &:nth-child(1) {
            left: 0;
            transition-delay: 0s;
        }
        &:nth-child(2) {
            left: 25%;
            transition-delay: 0.15s;
        }
        &:nth-child(3) {
            left: 50%;
            transition-delay: 0.3s;
        }
        &:nth-child(4) {
            left: 75%;
            transition-delay: 0.45s;
        }
    }
    &:hover {
        color: #fff;
        text-decoration: none;
    }
    &:hover span {
        transform-origin: bottom;
        transform: scaleY(1);
    }
}
.header__col-burger-controller {
    display: none;
}
@media only screen and (max-width: 768px) {
    .header__col-nav {
        display: none;
    }
    .header__col-logo {
        width: 25%;
    }
    .header__col-burger-controller {
        display: flex;
        width: 75%;
        justify-content: flex-end;
        align-items: center;
    }
    .burger-controller {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: $text_color;
        opacity: 0.9;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 75px;
        text-align:center;
        a {
            padding: 8px 8px 25px 8px;
            text-decoration: none;
            font-size: 25px;
            color: #D7CCC8;
            display: block;
            transition: 0.3s;
            &:hover{
                color: #FFC107;
            }
        }
        .closebtn {
            position: absolute;
            top: 15px;
            left: 25px;
            font-size: 50px;
        }
    }
}
@media only screen and (max-height: 450px) {
    .burger-controller {
        padding-top: 50px;
    }
    .burger-controller a {
        font-size: 18px;
    }
}