.section_hero {
    min-height: 700px;
    position: relative;
    background: url(../../assets/img/matthew-henry-136723-unsplash.jpg) no-repeat center;
    // background-size: cover;
    .color_fill {
        width: 100%;
        min-height: 700px;
        background-color: #EFEBE9;
        opacity: 0.4;
        position: absolute;
    }
}
