.section_header {
    position: fixed;
    z-index: 3;
    // box-shadow: 0 1px 6px rgba(0,0,0,.48);
    // -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.48);
    .header {
        display: flex;
        justify-content: space-between;
        flex-flow: row nowrap;
        padding: 15px 0;
        .logo {
            text-decoration: none;
            color: $text_color;
            font-size: 25px;
            font-weight: bold;
            font-family: 'Open Sans', sans-serif;
            display: inline-block;
            width: 20%;
            .theme {
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: orange;
                position: absolute;
                margin-top: 22px;
                margin-left: 5px;
            }
        }
        .menu_list {
            width: 75%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            .menu {
                width: 100%;
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-end;
                box-sizing: border-box;
                position: absolute;
                .menu__item {
                    list-style: none;
                    position: relative;
                    a {
                        position: relative;
                        width: 100px;
                        height: 30px;
                        display: block;
                        color: $text_color;
                        line-height: 30px;
                        text-align: center;
                        text-decoration: none;
                        transition: .5s;
                        box-sizing: border-box;
                        span {
                            position: absolute;
                            width: 25%;
                            height: 100%;
                            background: linear-gradient(to bottom, #FF6F00, #FFC107);
                            z-index: -1;
                            transform-origin: top;
                            transform: scaleY(0);
                            transition: transform .5s;
                            &:nth-child(1) {
                                left: 0;
                                transition-delay: 0s;
                            }
                            &:nth-child(2) {
                                left: 25%;
                                transition-delay: 0.15s;
                            }
                            &:nth-child(3) {
                                left: 50%;
                                transition-delay: 0.3s;
                            }
                            &:nth-child(4) {
                                left: 75%;
                                transition-delay: 0.45s;
                            }
                        }
                        &:hover {
                            color: #fff;
                            text-decoration: none;
                        }
                        &:hover span {
                            transform-origin: bottom;
                            transform: scaleY(1);
                        }
                    }
                }
            }
        }
    }
}




