.section_hero {
    height: 100vh;
    position: relative;
    background: url(../../assets/img/matthew-henry-136723-unsplash.jpg) no-repeat center;
    // background-size: cover;
    .color_fill {
        width: 100%;
        height: 100vh;
        background-color: white;
        opacity: 0.5;
        position: absolute;
    }
}
.section_hero__content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}
.who_i_am {
    text-align: center;
    h1 {
        font-size: 3.5em;
        padding: 18px 0;
    }
    h2 {
        color: white;
        font-size: 2.2em;
    }
}



@media only screen and (max-width: 640px) {
    .who_i_am h1 {
        font-size: 1.5em;
        padding: 15px 0;
    }
    .who_i_am h2 {
        color: white;
        font-size: 1.5em;
    }
}

