.section_hero {
    min-height: 700px;
    position: relative;
    background-image: url(../../assets/img/matthew-henry-136723-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .color_fill {
        width: 100%;
        min-height: 700px;
        background-color: #fff;
        opacity: 0.4;
        position: absolute;
    }
}