@import "_reset";
@import "_var";
@import "_header";
@import "_section_hero";
@import "_section_about";
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Chivo');

html, body {
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
    color: $text_color;
}
.wrapper {
    min-width: 320px;
    margin: auto;
}
.section {
    width: 100%;
}
.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 15px 0;
}
.section__heading, .section__content {
    width: 100%;
    margin: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: pink;
}
.section__heading {
    padding: 25px 0;
    font-size: 1.3em;
    color: #2c806f;
    h1 {
        position: relative;
        display: inline-block;
        padding-bottom: 8px
    }
    h1:before {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 50%;
        margin-left: -3px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: orange;
        z-index: 2;
    }
    h1:after {
        content: "";
        position: absolute;
        bottom: -1px;
        margin-left: -85%;
        width: 70%;
        height: 1px;
        background: #2c806f;
      }
}

